{% extends "base.html" %}


{% block main %}
<div class="container">
   <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
   Add New
 </button>

   <div class="card">
      <div class="card-header">
      Employee Details
      </div>
      <div class="card-body">
         <table class="table">
            <thead class="thead-light">
            <tr>
               <th scope="col">S.N</th>
               <th scope="col">First Name</th>
               <th scope="col">Last Name</th>
               <th scope="col">Email</th>
            </tr>
            </thead>
            <tbody>
            <tr>
               <th scope="row">1</th>
               <td>Mark</td>
               <td>Otto</td>
               <td>mdo12@gmail.com</td>
            </tr>
            <tr>
               <th scope="row">2</th>
               <td>Jacob</td>
               <td>Thornton</td>
               <td>fat23@gmail.com</td>
            </tr>
            
            </tbody>
         </table>
      
      </div>
   </div>
      
   </div>

   <!-- Modal -->
<form method="POST" action="">
   {% csrf_token %}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">Add New Employee</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         <div class="form-group">
            <label >First Name</label>
            <input type="text" class="form-control" name="first_name">
            
          </div>
          <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" name="last_name" >
          </div>

          <div class="form-group">
            <label >Email</label>
            <input type="text" class="form-control" name="email" >
          </div>
         
          <button type="submit" class="btn btn-primary">Submit</button>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         <button type="submit" class="btn btn-primary">Save</button>
       </div>
     </div>
   </div>
 </div>
 </form>
   {% endblock %}